a {
  text-decoration: none;
}
.App {
  padding: 20px;
  margin: auto;
  justify-content: center;
}
img {
  width: 100%;
  height: auto;
}
.item {
  flex: 1;
  margin: auto;
  text-align: center;
  color: #f2f2f2;
  line-height: 18px;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 769px) {

}
@media only screen and (min-width: 1025px) {
}
