/* .player{
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  display:flex;
  flex-direction: column;  
  background-color: #01061290;
  padding:15px;
  align-items: center;
}

.chip-container{
  display:flex;
  flex-direction: row;
}

.chip {
  padding: 10px 10px;
  margin: 0 7.5px 15px 7.5px;
  border: 1px solid #e0feff;
  border-radius:25px;
  min-width:80px;
  box-shadow: 0 0px 0px #e0feff, 0 0px 0px #e0feff;
}

.activeChip{
  background-color: #e0feff;
  color: #010612;
  padding: 10px 10px;
  margin: 0 7.5px 15px 7.5px;
  border: 1px solid #e0feff;
  border-radius:20px;
  min-width:80px;
  box-shadow: 0 0px 0px #e0feff, 0 0px 0px #e0feff;
}

.timer-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-icon{
  width: 30px;
} */