/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap');

@font-face {
	font-family: 'bjorkregular';
	src: url('./webfonts/bjork-webfont.eot');
	src: url('./webfonts/bjork-webfont.eot?#iefix') format('embedded-opentype'),
		url('./webfonts/bjork-webfont.woff2') format('woff2'),
		url('./webfonts/bjork-webfont.woff') format('woff'),
		url('./webfonts/bjork-webfont.ttf') format('truetype'),
		url('./webfonts/bjork-webfont.svg#bjorkregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* body */
body {
	height: 100vh;
	width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#15202d 0%, #010612 100%) fixed center center / cover no-repeat;
}

* {
	box-sizing: border-box;
}

/* header fonts */
h1 {
	font-family: 'bjorkregular', sans-serif;
	color: #e0feff;
	font-size: 5rem;
	margin: 0px;
	font-weight: 100;
}

h1 a {
	color: #e0feff;
}

h2 {
	font-family: 'Share Tech Mono', monospace;
	color: #e0feff;
}

h3 {
  font-family: 'Share Tech Mono', monospace;
  color: #E0FEFF;
}

.delta h3 {
  color: #80d8ff;
}

.theta h3 {
  color: #82b1ff;
}

.alpha h3 {
  color: #8c9eff;
}

.beta h3 {
  color: #b388ff;
}

.gamma h3 {
  color: #ea80fc;
}

/* misc text & links */
.tagline {
	margin-top: -15px;
}

a {
  text-decoration: none;
}

/* containers */
.container {
	max-width: 100%;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.container-learn {
	max-width: 100%;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	width: 100%;
}

.container-2 {
	max-width: 80%;
	text-align: center;
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.wave-container {
  margin-bottom: 30px;
}

.item {
  flex: 1;
  margin-right:15px;
  text-align: left;
  color: #f2f2f2;
  justify-content: center;
  flex-direction: column;
  min-width:240px;
  max-width: 240px;
  min-height: 325px;
}

/* buttons */
button {
	background-color: #010612;
	color: #e0feff;
	font-size: 0.9rem;
	border: 0px;
	margin-bottom: 15px;
	padding: 25px 50px;
	min-width: 180px;
	cursor: pointer;
	box-shadow: 0 2px 5px #e0feff, 0 2px 5px #e0feff;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

button:focus {
	box-shadow: 0 1px 2.5px #e0feff, 0 1px 2.5px #e0feff;
}

.button-container {
	display: flex;
	flex-direction: column;
}

.button-container-2 {
  display: flex;
  flex-direction: column;
  margin-top:15px;
}

/* forms */
input {
	background-color: #010612;
	color: #e0feff;
	border: 0px;
	margin-bottom: 15px;
	padding: 10px 10px;
	box-shadow: 0 2px 5px #e0feff, 0 2px 5px #e0feff;
	min-width: 180px;
}

input::placeholder {
	color: white;
}

/* imgs */
img {
  width: 100%;
  height: auto;
}

/* star field */
#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1581px 1922px #e0feff, 560px 1674px #e0feff, 997px 1114px #e0feff,
		1197px 176px #e0feff, 2450px 607px #e0feff, 2229px 213px #e0feff,
		2361px 2050px #e0feff, 1777px 1109px #e0feff, 2441px 483px #e0feff,
		567px 2097px #e0feff, 2188px 366px #e0feff, 272px 2093px #e0feff,
		1252px 1523px #e0feff, 1179px 539px #e0feff, 2078px 1492px #e0feff,
		85px 1233px #e0feff, 1405px 829px #e0feff, 1891px 2551px #e0feff,
		760px 1048px #e0feff, 1144px 180px #e0feff, 2088px 2218px #e0feff,
		2178px 1790px #e0feff, 2270px 2197px #e0feff, 2074px 1336px #e0feff,
		50px 1219px #e0feff, 2084px 2149px #e0feff, 310px 1247px #e0feff,
		14px 966px #e0feff, 2139px 1602px #e0feff, 1455px 2205px #e0feff,
		187px 866px #e0feff, 1389px 1191px #e0feff, 1269px 414px #e0feff,
		1493px 1739px #e0feff, 557px 1588px #e0feff, 2023px 759px #e0feff,
		2420px 638px #e0feff, 36px 806px #e0feff, 2583px 723px #e0feff,
		2512px 253px #e0feff, 666px 140px #e0feff, 718px 1990px #e0feff,
		1983px 762px #e0feff, 493px 2264px #e0feff, 548px 491px #e0feff,
		1425px 2437px #e0feff, 638px 1616px #e0feff, 512px 2162px #e0feff,
		1945px 2221px #e0feff, 2088px 1684px #e0feff, 2046px 2020px #e0feff,
		37px 1228px #e0feff, 168px 2450px #e0feff, 356px 1033px #e0feff,
		1809px 1263px #e0feff, 1909px 447px #e0feff, 1004px 1356px #e0feff,
		1743px 889px #e0feff, 1332px 706px #e0feff, 2548px 572px #e0feff,
		483px 1663px #e0feff, 346px 579px #e0feff, 2252px 2332px #e0feff,
		2549px 502px #e0feff, 2369px 692px #e0feff, 891px 2060px #e0feff,
		983px 264px #e0feff, 2444px 2365px #e0feff, 2595px 78px #e0feff,
		1088px 1126px #e0feff, 528px 1065px #e0feff, 1075px 1763px #e0feff,
		2352px 2083px #e0feff, 456px 2068px #e0feff, 1898px 930px #e0feff,
		2140px 1468px #e0feff, 2401px 1534px #e0feff, 2062px 587px #e0feff,
		1504px 2542px #e0feff, 1786px 90px #e0feff, 408px 958px #e0feff,
		173px 1551px #e0feff, 323px 1625px #e0feff, 2019px 1810px #e0feff,
		1977px 124px #e0feff, 68px 292px #e0feff, 1087px 1125px #e0feff,
		2091px 916px #e0feff, 1976px 2547px #e0feff, 2056px 2171px #e0feff,
		737px 2588px #e0feff, 1544px 16px #e0feff, 1289px 382px #e0feff,
		1330px 1583px #e0feff, 858px 2493px #e0feff, 628px 2445px #e0feff,
		486px 601px #e0feff, 926px 2051px #e0feff, 852px 905px #e0feff,
		612px 1061px #e0feff, 900px 1077px #e0feff, 1382px 1746px #e0feff,
		1006px 1391px #e0feff, 1210px 1029px #e0feff, 1813px 374px #e0feff,
		234px 2020px #e0feff, 1344px 297px #e0feff, 2183px 1884px #e0feff,
		308px 1877px #e0feff, 681px 2573px #e0feff, 869px 2182px #e0feff,
		2209px 2243px #e0feff, 896px 2010px #e0feff, 1306px 1526px #e0feff,
		1292px 2046px #e0feff, 569px 710px #e0feff, 1446px 478px #e0feff,
		2559px 325px #e0feff, 754px 2599px #e0feff, 1757px 313px #e0feff,
		2057px 1659px #e0feff, 2302px 580px #e0feff, 2416px 2293px #e0feff,
		1360px 886px #e0feff, 1396px 1174px #e0feff, 1905px 1162px #e0feff,
		472px 930px #e0feff, 787px 2259px #e0feff, 189px 1923px #e0feff,
		682px 2539px #e0feff, 1190px 663px #e0feff, 994px 1830px #e0feff,
		2250px 1589px #e0feff, 1332px 1579px #e0feff, 1103px 930px #e0feff,
		902px 2001px #e0feff, 2539px 1997px #e0feff, 314px 2155px #e0feff,
		1692px 2360px #e0feff, 69px 1778px #e0feff, 2410px 332px #e0feff,
		974px 378px #e0feff, 2338px 214px #e0feff, 1640px 74px #e0feff,
		1932px 1485px #e0feff, 1231px 2053px #e0feff, 2338px 2162px #e0feff,
		1021px 1935px #e0feff, 1332px 2162px #e0feff, 2053px 2101px #e0feff,
		1983px 1743px #e0feff, 597px 348px #e0feff, 1216px 725px #e0feff,
		2422px 2250px #e0feff, 2453px 1269px #e0feff, 1474px 1725px #e0feff,
		2071px 1118px #e0feff, 1687px 2213px #e0feff, 1041px 959px #e0feff,
		192px 1268px #e0feff, 2123px 2057px #e0feff, 842px 1281px #e0feff,
		1028px 2178px #e0feff, 2329px 1165px #e0feff, 1550px 209px #e0feff,
		1824px 1703px #e0feff, 2433px 2291px #e0feff, 2263px 2278px #e0feff,
		2343px 2378px #e0feff, 262px 813px #e0feff, 171px 805px #e0feff,
		682px 664px #e0feff, 1577px 111px #e0feff, 2023px 1657px #e0feff,
		89px 218px #e0feff, 1241px 2411px #e0feff, 2297px 2019px #e0feff,
		460px 29px #e0feff, 767px 1573px #e0feff, 2316px 1980px #e0feff,
		110px 2206px #e0feff, 2217px 541px #e0feff, 1866px 2366px #e0feff,
		2224px 936px #e0feff, 1668px 296px #e0feff, 75px 1474px #e0feff,
		1897px 282px #e0feff, 1122px 973px #e0feff, 294px 1472px #e0feff,
		1177px 1356px #e0feff, 939px 1976px #e0feff, 1620px 2578px #e0feff,
		1285px 1802px #e0feff, 2504px 1632px #e0feff, 334px 756px #e0feff,
		1879px 952px #e0feff, 2026px 1598px #e0feff, 1437px 1198px #e0feff,
		1544px 624px #e0feff, 2468px 1072px #e0feff, 371px 1498px #e0feff,
		2333px 2437px #e0feff, 318px 2538px #e0feff, 1593px 835px #e0feff,
		2009px 904px #e0feff, 1475px 784px #e0feff, 1787px 1618px #e0feff,
		2065px 1874px #e0feff, 1280px 1644px #e0feff, 403px 975px #e0feff,
		747px 67px #e0feff, 575px 2580px #e0feff, 605px 1164px #e0feff,
		55px 785px #e0feff, 913px 893px #e0feff, 2531px 1118px #e0feff,
		1126px 1119px #e0feff, 16px 25px #e0feff, 1355px 1515px #e0feff,
		1321px 2021px #e0feff, 951px 2133px #e0feff, 2328px 32px #e0feff,
		1680px 1147px #e0feff, 1060px 1130px #e0feff, 1942px 392px #e0feff,
		666px 424px #e0feff, 379px 2140px #e0feff, 2340px 256px #e0feff,
		139px 888px #e0feff, 532px 2267px #e0feff, 1537px 1785px #e0feff,
		2302px 1328px #e0feff, 632px 2130px #e0feff, 2505px 1839px #e0feff,
		2118px 211px #e0feff, 2037px 1198px #e0feff, 1884px 2494px #e0feff,
		2025px 2320px #e0feff, 393px 1453px #e0feff, 2570px 1408px #e0feff,
		2054px 295px #e0feff, 1664px 335px #e0feff, 1165px 605px #e0feff,
		1897px 432px #e0feff, 631px 2012px #e0feff, 1221px 492px #e0feff,
		88px 939px #e0feff, 92px 2002px #e0feff, 1425px 64px #e0feff,
		2131px 842px #e0feff, 2376px 229px #e0feff, 931px 336px #e0feff,
		2004px 1176px #e0feff, 1831px 2407px #e0feff, 1500px 695px #e0feff,
		2483px 1906px #e0feff, 1307px 1471px #e0feff, 1297px 2061px #e0feff,
		446px 842px #e0feff, 2491px 459px #e0feff, 1632px 2417px #e0feff,
		980px 750px #e0feff, 2509px 789px #e0feff, 1877px 1560px #e0feff,
		3px 2032px #e0feff, 891px 424px #e0feff, 41px 806px #e0feff,
		1145px 1216px #e0feff, 28px 1591px #e0feff, 195px 805px #e0feff,
		363px 1843px #e0feff, 1172px 505px #e0feff, 949px 1149px #e0feff,
		1894px 1805px #e0feff, 860px 2122px #e0feff, 410px 367px #e0feff,
		33px 2086px #e0feff, 36px 2575px #e0feff, 441px 297px #e0feff,
		1230px 122px #e0feff, 1163px 2460px #e0feff, 102px 788px #e0feff,
		1211px 212px #e0feff, 429px 1239px #e0feff, 1826px 1331px #e0feff,
		2593px 1521px #e0feff, 826px 369px #e0feff, 259px 2066px #e0feff,
		1998px 187px #e0feff, 554px 1501px #e0feff, 2481px 1320px #e0feff,
		1168px 1670px #e0feff, 896px 113px #e0feff, 818px 1719px #e0feff,
		2018px 1855px #e0feff, 234px 1104px #e0feff, 1523px 1616px #e0feff,
		1147px 427px #e0feff, 992px 944px #e0feff, 1957px 1881px #e0feff,
		2355px 457px #e0feff, 1192px 897px #e0feff, 243px 482px #e0feff,
		2026px 1407px #e0feff, 2079px 2001px #e0feff, 2431px 2465px #e0feff,
		1948px 2259px #e0feff, 1114px 1261px #e0feff, 1723px 813px #e0feff,
		2506px 1922px #e0feff, 1579px 2261px #e0feff, 2159px 2213px #e0feff,
		67px 678px #e0feff, 2208px 794px #e0feff, 1990px 2000px #e0feff,
		2102px 1545px #e0feff, 2512px 1343px #e0feff, 2407px 2443px #e0feff,
		2253px 683px #e0feff, 1081px 297px #e0feff, 1135px 2561px #e0feff,
		1746px 1364px #e0feff, 2052px 1125px #e0feff, 680px 1518px #e0feff,
		434px 1775px #e0feff, 2162px 1946px #e0feff, 1941px 1055px #e0feff,
		288px 1796px #e0feff, 1207px 2572px #e0feff, 1199px 2280px #e0feff,
		1991px 367px #e0feff, 2536px 613px #e0feff, 312px 2162px #e0feff,
		66px 223px #e0feff, 1734px 1707px #e0feff, 1061px 1928px #e0feff,
		576px 1696px #e0feff, 772px 1148px #e0feff, 1945px 1751px #e0feff,
		2491px 691px #e0feff, 1656px 914px #e0feff, 1045px 2099px #e0feff,
		1677px 2137px #e0feff, 2338px 1705px #e0feff, 290px 1413px #e0feff,
		1915px 274px #e0feff, 168px 711px #e0feff, 1786px 1293px #e0feff,
		2176px 505px #e0feff, 1853px 2016px #e0feff, 1303px 191px #e0feff,
		1727px 2138px #e0feff, 838px 770px #e0feff, 844px 1034px #e0feff,
		487px 1570px #e0feff, 336px 34px #e0feff, 1210px 1311px #e0feff,
		639px 4px #e0feff, 1995px 2267px #e0feff, 2340px 902px #e0feff,
		2185px 229px #e0feff, 1238px 1264px #e0feff, 724px 2059px #e0feff,
		2164px 572px #e0feff, 2058px 519px #e0feff, 1341px 70px #e0feff,
		2066px 1867px #e0feff, 1570px 418px #e0feff, 187px 1374px #e0feff,
		635px 2004px #e0feff, 126px 175px #e0feff, 1514px 106px #e0feff,
		758px 929px #e0feff, 2338px 1307px #e0feff, 2592px 363px #e0feff,
		881px 1403px #e0feff, 1957px 2150px #e0feff, 663px 1532px #e0feff,
		2267px 758px #e0feff, 819px 463px #e0feff, 748px 758px #e0feff,
		2071px 2197px #e0feff, 725px 1435px #e0feff, 362px 381px #e0feff,
		735px 599px #e0feff, 2060px 841px #e0feff, 2221px 1295px #e0feff,
		1807px 1262px #e0feff, 1522px 475px #e0feff, 2459px 858px #e0feff,
		2583px 282px #e0feff, 2450px 874px #e0feff, 800px 1857px #e0feff,
		2008px 2249px #e0feff, 2554px 639px #e0feff, 18px 2103px #e0feff,
		784px 774px #e0feff, 1881px 2530px #e0feff, 971px 1505px #e0feff,
		824px 209px #e0feff, 1293px 1188px #e0feff, 1415px 1624px #e0feff,
		2247px 517px #e0feff, 1447px 1115px #e0feff, 2387px 2260px #e0feff,
		2189px 2343px #e0feff, 650px 408px #e0feff, 1853px 1082px #e0feff,
		1079px 2579px #e0feff, 516px 2211px #e0feff, 1952px 1691px #e0feff,
		1011px 319px #e0feff, 1240px 304px #e0feff, 102px 1383px #e0feff,
		1392px 1821px #e0feff, 652px 2192px #e0feff, 2192px 1497px #e0feff,
		135px 1470px #e0feff, 1127px 2140px #e0feff, 2421px 2455px #e0feff,
		2264px 134px #e0feff, 1022px 494px #e0feff, 741px 1629px #e0feff,
		385px 1494px #e0feff, 322px 1431px #e0feff, 2230px 2052px #e0feff,
		692px 1855px #e0feff, 539px 1713px #e0feff, 612px 727px #e0feff,
		2066px 485px #e0feff, 417px 1016px #e0feff, 767px 906px #e0feff,
		1162px 2136px #e0feff, 1736px 1792px #e0feff, 918px 811px #e0feff,
		2161px 1515px #e0feff, 468px 48px #e0feff, 407px 1127px #e0feff,
		845px 1646px #e0feff, 1430px 2491px #e0feff, 2442px 1886px #e0feff,
		2296px 2023px #e0feff, 102px 204px #e0feff, 883px 1117px #e0feff,
		707px 145px #e0feff, 1046px 460px #e0feff, 1080px 2453px #e0feff,
		1389px 1649px #e0feff, 1623px 359px #e0feff, 817px 700px #e0feff,
		1631px 115px #e0feff, 337px 1297px #e0feff, 612px 102px #e0feff,
		1013px 2160px #e0feff, 36px 1182px #e0feff, 2447px 163px #e0feff,
		2410px 1382px #e0feff, 2193px 866px #e0feff, 1116px 1890px #e0feff,
		1471px 2554px #e0feff, 2368px 220px #e0feff, 1459px 578px #e0feff,
		1783px 2431px #e0feff, 929px 2081px #e0feff, 1525px 579px #e0feff,
		1395px 376px #e0feff, 1727px 81px #e0feff, 77px 1542px #e0feff,
		2595px 27px #e0feff, 2187px 1527px #e0feff, 972px 1553px #e0feff,
		2107px 765px #e0feff, 2497px 2030px #e0feff, 1849px 2532px #e0feff,
		1589px 146px #e0feff, 663px 2196px #e0feff, 1142px 2389px #e0feff,
		2400px 414px #e0feff, 236px 2561px #e0feff, 1058px 1616px #e0feff,
		682px 1187px #e0feff, 2014px 1239px #e0feff, 1371px 1717px #e0feff,
		230px 1031px #e0feff, 1172px 1499px #e0feff, 2332px 354px #e0feff,
		2455px 264px #e0feff, 1962px 1455px #e0feff, 1025px 2583px #e0feff,
		1003px 2582px #e0feff, 2370px 1784px #e0feff, 698px 608px #e0feff,
		438px 876px #e0feff, 681px 2512px #e0feff, 1701px 2037px #e0feff,
		1124px 877px #e0feff, 2173px 32px #e0feff, 2044px 2169px #e0feff,
		1942px 794px #e0feff, 2297px 896px #e0feff, 2177px 1492px #e0feff,
		864px 71px #e0feff, 659px 613px #e0feff, 1143px 211px #e0feff,
		2127px 2329px #e0feff, 110px 1174px #e0feff, 1429px 74px #e0feff,
		10px 757px #e0feff, 252px 868px #e0feff, 1052px 616px #e0feff,
		1085px 987px #e0feff, 1754px 2307px #e0feff, 2035px 2180px #e0feff,
		685px 1086px #e0feff, 767px 923px #e0feff, 1526px 1387px #e0feff,
		1659px 542px #e0feff, 1458px 1765px #e0feff, 1224px 1827px #e0feff,
		1392px 1835px #e0feff, 1327px 2324px #e0feff, 2525px 2349px #e0feff,
		2177px 1439px #e0feff, 1130px 906px #e0feff, 2176px 1896px #e0feff,
		2368px 996px #e0feff, 1494px 2368px #e0feff, 965px 2544px #e0feff,
		691px 1797px #e0feff, 2407px 583px #e0feff, 1789px 575px #e0feff,
		1299px 2558px #e0feff, 587px 1819px #e0feff, 2093px 1270px #e0feff,
		982px 217px #e0feff, 601px 1187px #e0feff, 448px 1369px #e0feff,
		2544px 1234px #e0feff, 1313px 2066px #e0feff, 1022px 1839px #e0feff,
		2441px 2580px #e0feff, 1097px 2568px #e0feff, 409px 946px #e0feff,
		2306px 2325px #e0feff, 713px 1373px #e0feff, 491px 2285px #e0feff,
		1070px 1865px #e0feff, 343px 1670px #e0feff, 1375px 368px #e0feff,
		923px 1246px #e0feff, 389px 2293px #e0feff, 1917px 2516px #e0feff,
		579px 625px #e0feff, 1928px 1569px #e0feff, 1776px 1659px #e0feff,
		1413px 2448px #e0feff, 1917px 2157px #e0feff, 1796px 1357px #e0feff,
		1694px 38px #e0feff, 376px 120px #e0feff, 213px 447px #e0feff,
		719px 1791px #e0feff, 1442px 710px #e0feff, 2221px 128px #e0feff,
		308px 151px #e0feff, 439px 992px #e0feff, 509px 2340px #e0feff,
		1613px 1440px #e0feff, 89px 2500px #e0feff, 1740px 2144px #e0feff,
		291px 2457px #e0feff, 117px 618px #e0feff, 2267px 752px #e0feff,
		1178px 200px #e0feff, 239px 2396px #e0feff, 698px 537px #e0feff,
		1641px 1574px #e0feff, 1458px 829px #e0feff, 1247px 808px #e0feff,
		1520px 2592px #e0feff, 738px 2430px #e0feff, 175px 2026px #e0feff,
		1772px 153px #e0feff, 792px 2425px #e0feff, 2325px 1346px #e0feff,
		1636px 392px #e0feff, 70px 1205px #e0feff, 251px 60px #e0feff,
		333px 1553px #e0feff, 2223px 302px #e0feff, 1091px 1442px #e0feff,
		393px 2502px #e0feff, 2172px 1500px #e0feff, 2544px 771px #e0feff,
		2400px 4px #e0feff, 1030px 639px #e0feff, 372px 66px #e0feff,
		311px 821px #e0feff, 2257px 1582px #e0feff, 311px 2257px #e0feff,
		1186px 22px #e0feff, 1871px 828px #e0feff, 1603px 1207px #e0feff,
		2200px 2294px #e0feff, 2182px 419px #e0feff, 1001px 2594px #e0feff,
		2048px 468px #e0feff, 1189px 2280px #e0feff, 1546px 23px #e0feff,
		162px 376px #e0feff, 2405px 258px #e0feff, 255px 900px #e0feff,
		859px 462px #e0feff, 1803px 931px #e0feff, 1456px 1333px #e0feff,
		844px 1037px #e0feff, 1629px 433px #e0feff, 2369px 1616px #e0feff,
		1734px 2094px #e0feff, 490px 1002px #e0feff, 2429px 267px #e0feff,
		788px 1688px #e0feff, 1640px 1380px #e0feff, 535px 2016px #e0feff,
		617px 2553px #e0feff, 1312px 1867px #e0feff, 2029px 1559px #e0feff,
		1146px 2120px #e0feff, 1384px 1968px #e0feff, 441px 2332px #e0feff,
		485px 2584px #e0feff, 2371px 312px #e0feff, 1585px 926px #e0feff,
		142px 1441px #e0feff, 82px 517px #e0feff, 1734px 894px #e0feff,
		1901px 4px #e0feff, 245px 1551px #e0feff, 61px 1902px #e0feff,
		1653px 2380px #e0feff, 739px 1943px #e0feff, 2060px 1871px #e0feff,
		984px 2183px #e0feff, 1754px 1451px #e0feff, 2145px 2342px #e0feff,
		1105px 241px #e0feff, 693px 1690px #e0feff, 364px 1661px #e0feff,
		659px 2145px #e0feff, 813px 2494px #e0feff, 1496px 700px #e0feff,
		791px 549px #e0feff, 1925px 1087px #e0feff, 2589px 1769px #e0feff,
		2037px 1142px #e0feff, 939px 1439px #e0feff, 2301px 2082px #e0feff,
		2556px 2395px #e0feff, 1780px 1161px #e0feff, 1803px 573px #e0feff,
		322px 874px #e0feff, 1423px 2534px #e0feff, 2221px 1536px #e0feff,
		1379px 2499px #e0feff, 1184px 2578px #e0feff, 496px 1860px #e0feff,
		667px 2024px #e0feff, 291px 2382px #e0feff, 1806px 879px #e0feff,
		2214px 1189px #e0feff, 1694px 2469px #e0feff, 1462px 588px #e0feff,
		101px 439px #e0feff, 1477px 2354px #e0feff, 1662px 459px #e0feff,
		607px 723px #e0feff, 2446px 1651px #e0feff, 1518px 703px #e0feff,
		2517px 866px #e0feff, 1694px 2015px #e0feff, 950px 2296px #e0feff,
		591px 24px #e0feff, 813px 2242px #e0feff, 1007px 2220px #e0feff,
		1211px 2169px #e0feff, 2126px 2540px #e0feff, 508px 1351px #e0feff,
		627px 2054px #e0feff, 787px 2423px #e0feff, 29px 821px #e0feff,
		2001px 108px #e0feff, 1921px 325px #e0feff, 1101px 1733px #e0feff,
		1591px 2576px #e0feff, 1601px 2271px #e0feff, 1281px 2314px #e0feff,
		1169px 1963px #e0feff, 1862px 2374px #e0feff, 410px 1901px #e0feff,
		2051px 1286px #e0feff;
	animation: animStar 125s linear infinite;
}

#stars:after {
	content: ' ';
	position: absolute;
	top: 100vh;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 1581px 1922px #fff, 560px 1674px #fff, 997px 1114px #fff,
		1197px 176px #fff, 2450px 607px #fff, 2229px 213px #fff, 2361px 2050px #fff,
		1777px 1109px #fff, 2441px 483px #fff, 567px 2097px #fff, 2188px 366px #fff,
		272px 2093px #fff, 1252px 1523px #fff, 1179px 539px #fff, 2078px 1492px #fff,
		85px 1233px #fff, 1405px 829px #fff, 1891px 2551px #fff, 760px 1048px #fff,
		1144px 180px #fff, 2088px 2218px #fff, 2178px 1790px #fff,
		2270px 2197px #fff, 2074px 1336px #fff, 50px 1219px #fff, 2084px 2149px #fff,
		310px 1247px #fff, 14px 966px #fff, 2139px 1602px #fff, 1455px 2205px #fff,
		187px 866px #fff, 1389px 1191px #fff, 1269px 414px #fff, 1493px 1739px #fff,
		557px 1588px #fff, 2023px 759px #fff, 2420px 638px #fff, 36px 806px #fff,
		2583px 723px #fff, 2512px 253px #fff, 666px 140px #fff, 718px 1990px #fff,
		1983px 762px #fff, 493px 2264px #fff, 548px 491px #fff, 1425px 2437px #fff,
		638px 1616px #fff, 512px 2162px #fff, 1945px 2221px #fff, 2088px 1684px #fff,
		2046px 2020px #fff, 37px 1228px #fff, 168px 2450px #fff, 356px 1033px #fff,
		1809px 1263px #fff, 1909px 447px #fff, 1004px 1356px #fff, 1743px 889px #fff,
		1332px 706px #fff, 2548px 572px #fff, 483px 1663px #fff, 346px 579px #fff,
		2252px 2332px #fff, 2549px 502px #fff, 2369px 692px #fff, 891px 2060px #fff,
		983px 264px #fff, 2444px 2365px #fff, 2595px 78px #fff, 1088px 1126px #fff,
		528px 1065px #fff, 1075px 1763px #fff, 2352px 2083px #fff, 456px 2068px #fff,
		1898px 930px #fff, 2140px 1468px #fff, 2401px 1534px #fff, 2062px 587px #fff,
		1504px 2542px #fff, 1786px 90px #fff, 408px 958px #fff, 173px 1551px #fff,
		323px 1625px #fff, 2019px 1810px #fff, 1977px 124px #fff, 68px 292px #fff,
		1087px 1125px #fff, 2091px 916px #fff, 1976px 2547px #fff,
		2056px 2171px #fff, 737px 2588px #fff, 1544px 16px #fff, 1289px 382px #fff,
		1330px 1583px #fff, 858px 2493px #fff, 628px 2445px #fff, 486px 601px #fff,
		926px 2051px #fff, 852px 905px #fff, 612px 1061px #fff, 900px 1077px #fff,
		1382px 1746px #fff, 1006px 1391px #fff, 1210px 1029px #fff,
		1813px 374px #fff, 234px 2020px #fff, 1344px 297px #fff, 2183px 1884px #fff,
		308px 1877px #fff, 681px 2573px #fff, 869px 2182px #fff, 2209px 2243px #fff,
		896px 2010px #fff, 1306px 1526px #fff, 1292px 2046px #fff, 569px 710px #fff,
		1446px 478px #fff, 2559px 325px #fff, 754px 2599px #fff, 1757px 313px #fff,
		2057px 1659px #fff, 2302px 580px #fff, 2416px 2293px #fff, 1360px 886px #fff,
		1396px 1174px #fff, 1905px 1162px #fff, 472px 930px #fff, 787px 2259px #fff,
		189px 1923px #fff, 682px 2539px #fff, 1190px 663px #fff, 994px 1830px #fff,
		2250px 1589px #fff, 1332px 1579px #fff, 1103px 930px #fff, 902px 2001px #fff,
		2539px 1997px #fff, 314px 2155px #fff, 1692px 2360px #fff, 69px 1778px #fff,
		2410px 332px #fff, 974px 378px #fff, 2338px 214px #fff, 1640px 74px #fff,
		1932px 1485px #fff, 1231px 2053px #fff, 2338px 2162px #fff,
		1021px 1935px #fff, 1332px 2162px #fff, 2053px 2101px #fff,
		1983px 1743px #fff, 597px 348px #fff, 1216px 725px #fff, 2422px 2250px #fff,
		2453px 1269px #fff, 1474px 1725px #fff, 2071px 1118px #fff,
		1687px 2213px #fff, 1041px 959px #fff, 192px 1268px #fff, 2123px 2057px #fff,
		842px 1281px #fff, 1028px 2178px #fff, 2329px 1165px #fff, 1550px 209px #fff,
		1824px 1703px #fff, 2433px 2291px #fff, 2263px 2278px #fff,
		2343px 2378px #fff, 262px 813px #fff, 171px 805px #fff, 682px 664px #fff,
		1577px 111px #fff, 2023px 1657px #fff, 89px 218px #fff, 1241px 2411px #fff,
		2297px 2019px #fff, 460px 29px #fff, 767px 1573px #fff, 2316px 1980px #fff,
		110px 2206px #fff, 2217px 541px #fff, 1866px 2366px #fff, 2224px 936px #fff,
		1668px 296px #fff, 75px 1474px #fff, 1897px 282px #fff, 1122px 973px #fff,
		294px 1472px #fff, 1177px 1356px #fff, 939px 1976px #fff, 1620px 2578px #fff,
		1285px 1802px #fff, 2504px 1632px #fff, 334px 756px #fff, 1879px 952px #fff,
		2026px 1598px #fff, 1437px 1198px #fff, 1544px 624px #fff,
		2468px 1072px #fff, 371px 1498px #fff, 2333px 2437px #fff, 318px 2538px #fff,
		1593px 835px #fff, 2009px 904px #fff, 1475px 784px #fff, 1787px 1618px #fff,
		2065px 1874px #fff, 1280px 1644px #fff, 403px 975px #fff, 747px 67px #fff,
		575px 2580px #fff, 605px 1164px #fff, 55px 785px #fff, 913px 893px #fff,
		2531px 1118px #fff, 1126px 1119px #fff, 16px 25px #fff, 1355px 1515px #fff,
		1321px 2021px #fff, 951px 2133px #fff, 2328px 32px #fff, 1680px 1147px #fff,
		1060px 1130px #fff, 1942px 392px #fff, 666px 424px #fff, 379px 2140px #fff,
		2340px 256px #fff, 139px 888px #fff, 532px 2267px #fff, 1537px 1785px #fff,
		2302px 1328px #fff, 632px 2130px #fff, 2505px 1839px #fff, 2118px 211px #fff,
		2037px 1198px #fff, 1884px 2494px #fff, 2025px 2320px #fff,
		393px 1453px #fff, 2570px 1408px #fff, 2054px 295px #fff, 1664px 335px #fff,
		1165px 605px #fff, 1897px 432px #fff, 631px 2012px #fff, 1221px 492px #fff,
		88px 939px #fff, 92px 2002px #fff, 1425px 64px #fff, 2131px 842px #fff,
		2376px 229px #fff, 931px 336px #fff, 2004px 1176px #fff, 1831px 2407px #fff,
		1500px 695px #fff, 2483px 1906px #fff, 1307px 1471px #fff,
		1297px 2061px #fff, 446px 842px #fff, 2491px 459px #fff, 1632px 2417px #fff,
		980px 750px #fff, 2509px 789px #fff, 1877px 1560px #fff, 3px 2032px #fff,
		891px 424px #fff, 41px 806px #fff, 1145px 1216px #fff, 28px 1591px #fff,
		195px 805px #fff, 363px 1843px #fff, 1172px 505px #fff, 949px 1149px #fff,
		1894px 1805px #fff, 860px 2122px #fff, 410px 367px #fff, 33px 2086px #fff,
		36px 2575px #fff, 441px 297px #fff, 1230px 122px #fff, 1163px 2460px #fff,
		102px 788px #fff, 1211px 212px #fff, 429px 1239px #fff, 1826px 1331px #fff,
		2593px 1521px #fff, 826px 369px #fff, 259px 2066px #fff, 1998px 187px #fff,
		554px 1501px #fff, 2481px 1320px #fff, 1168px 1670px #fff, 896px 113px #fff,
		818px 1719px #fff, 2018px 1855px #fff, 234px 1104px #fff, 1523px 1616px #fff,
		1147px 427px #fff, 992px 944px #fff, 1957px 1881px #fff, 2355px 457px #fff,
		1192px 897px #fff, 243px 482px #fff, 2026px 1407px #fff, 2079px 2001px #fff,
		2431px 2465px #fff, 1948px 2259px #fff, 1114px 1261px #fff,
		1723px 813px #fff, 2506px 1922px #fff, 1579px 2261px #fff,
		2159px 2213px #fff, 67px 678px #fff, 2208px 794px #fff, 1990px 2000px #fff,
		2102px 1545px #fff, 2512px 1343px #fff, 2407px 2443px #fff,
		2253px 683px #fff, 1081px 297px #fff, 1135px 2561px #fff, 1746px 1364px #fff,
		2052px 1125px #fff, 680px 1518px #fff, 434px 1775px #fff, 2162px 1946px #fff,
		1941px 1055px #fff, 288px 1796px #fff, 1207px 2572px #fff,
		1199px 2280px #fff, 1991px 367px #fff, 2536px 613px #fff, 312px 2162px #fff,
		66px 223px #fff, 1734px 1707px #fff, 1061px 1928px #fff, 576px 1696px #fff,
		772px 1148px #fff, 1945px 1751px #fff, 2491px 691px #fff, 1656px 914px #fff,
		1045px 2099px #fff, 1677px 2137px #fff, 2338px 1705px #fff,
		290px 1413px #fff, 1915px 274px #fff, 168px 711px #fff, 1786px 1293px #fff,
		2176px 505px #fff, 1853px 2016px #fff, 1303px 191px #fff, 1727px 2138px #fff,
		838px 770px #fff, 844px 1034px #fff, 487px 1570px #fff, 336px 34px #fff,
		1210px 1311px #fff, 639px 4px #fff, 1995px 2267px #fff, 2340px 902px #fff,
		2185px 229px #fff, 1238px 1264px #fff, 724px 2059px #fff, 2164px 572px #fff,
		2058px 519px #fff, 1341px 70px #fff, 2066px 1867px #fff, 1570px 418px #fff,
		187px 1374px #fff, 635px 2004px #fff, 126px 175px #fff, 1514px 106px #fff,
		758px 929px #fff, 2338px 1307px #fff, 2592px 363px #fff, 881px 1403px #fff,
		1957px 2150px #fff, 663px 1532px #fff, 2267px 758px #fff, 819px 463px #fff,
		748px 758px #fff, 2071px 2197px #fff, 725px 1435px #fff, 362px 381px #fff,
		735px 599px #fff, 2060px 841px #fff, 2221px 1295px #fff, 1807px 1262px #fff,
		1522px 475px #fff, 2459px 858px #fff, 2583px 282px #fff, 2450px 874px #fff,
		800px 1857px #fff, 2008px 2249px #fff, 2554px 639px #fff, 18px 2103px #fff,
		784px 774px #fff, 1881px 2530px #fff, 971px 1505px #fff, 824px 209px #fff,
		1293px 1188px #fff, 1415px 1624px #fff, 2247px 517px #fff,
		1447px 1115px #fff, 2387px 2260px #fff, 2189px 2343px #fff, 650px 408px #fff,
		1853px 1082px #fff, 1079px 2579px #fff, 516px 2211px #fff,
		1952px 1691px #fff, 1011px 319px #fff, 1240px 304px #fff, 102px 1383px #fff,
		1392px 1821px #fff, 652px 2192px #fff, 2192px 1497px #fff, 135px 1470px #fff,
		1127px 2140px #fff, 2421px 2455px #fff, 2264px 134px #fff, 1022px 494px #fff,
		741px 1629px #fff, 385px 1494px #fff, 322px 1431px #fff, 2230px 2052px #fff,
		692px 1855px #fff, 539px 1713px #fff, 612px 727px #fff, 2066px 485px #fff,
		417px 1016px #fff, 767px 906px #fff, 1162px 2136px #fff, 1736px 1792px #fff,
		918px 811px #fff, 2161px 1515px #fff, 468px 48px #fff, 407px 1127px #fff,
		845px 1646px #fff, 1430px 2491px #fff, 2442px 1886px #fff,
		2296px 2023px #fff, 102px 204px #fff, 883px 1117px #fff, 707px 145px #fff,
		1046px 460px #fff, 1080px 2453px #fff, 1389px 1649px #fff, 1623px 359px #fff,
		817px 700px #fff, 1631px 115px #fff, 337px 1297px #fff, 612px 102px #fff,
		1013px 2160px #fff, 36px 1182px #fff, 2447px 163px #fff, 2410px 1382px #fff,
		2193px 866px #fff, 1116px 1890px #fff, 1471px 2554px #fff, 2368px 220px #fff,
		1459px 578px #fff, 1783px 2431px #fff, 929px 2081px #fff, 1525px 579px #fff,
		1395px 376px #fff, 1727px 81px #fff, 77px 1542px #fff, 2595px 27px #fff,
		2187px 1527px #fff, 972px 1553px #fff, 2107px 765px #fff, 2497px 2030px #fff,
		1849px 2532px #fff, 1589px 146px #fff, 663px 2196px #fff, 1142px 2389px #fff,
		2400px 414px #fff, 236px 2561px #fff, 1058px 1616px #fff, 682px 1187px #fff,
		2014px 1239px #fff, 1371px 1717px #fff, 230px 1031px #fff,
		1172px 1499px #fff, 2332px 354px #fff, 2455px 264px #fff, 1962px 1455px #fff,
		1025px 2583px #fff, 1003px 2582px #fff, 2370px 1784px #fff, 698px 608px #fff,
		438px 876px #fff, 681px 2512px #fff, 1701px 2037px #fff, 1124px 877px #fff,
		2173px 32px #fff, 2044px 2169px #fff, 1942px 794px #fff, 2297px 896px #fff,
		2177px 1492px #fff, 864px 71px #fff, 659px 613px #fff, 1143px 211px #fff,
		2127px 2329px #fff, 110px 1174px #fff, 1429px 74px #fff, 10px 757px #fff,
		252px 868px #fff, 1052px 616px #fff, 1085px 987px #fff, 1754px 2307px #fff,
		2035px 2180px #fff, 685px 1086px #fff, 767px 923px #fff, 1526px 1387px #fff,
		1659px 542px #fff, 1458px 1765px #fff, 1224px 1827px #fff,
		1392px 1835px #fff, 1327px 2324px #fff, 2525px 2349px #fff,
		2177px 1439px #fff, 1130px 906px #fff, 2176px 1896px #fff, 2368px 996px #fff,
		1494px 2368px #fff, 965px 2544px #fff, 691px 1797px #fff, 2407px 583px #fff,
		1789px 575px #fff, 1299px 2558px #fff, 587px 1819px #fff, 2093px 1270px #fff,
		982px 217px #fff, 601px 1187px #fff, 448px 1369px #fff, 2544px 1234px #fff,
		1313px 2066px #fff, 1022px 1839px #fff, 2441px 2580px #fff,
		1097px 2568px #fff, 409px 946px #fff, 2306px 2325px #fff, 713px 1373px #fff,
		491px 2285px #fff, 1070px 1865px #fff, 343px 1670px #fff, 1375px 368px #fff,
		923px 1246px #fff, 389px 2293px #fff, 1917px 2516px #fff, 579px 625px #fff,
		1928px 1569px #fff, 1776px 1659px #fff, 1413px 2448px #fff,
		1917px 2157px #fff, 1796px 1357px #fff, 1694px 38px #fff, 376px 120px #fff,
		213px 447px #fff, 719px 1791px #fff, 1442px 710px #fff, 2221px 128px #fff,
		308px 151px #fff, 439px 992px #fff, 509px 2340px #fff, 1613px 1440px #fff,
		89px 2500px #fff, 1740px 2144px #fff, 291px 2457px #fff, 117px 618px #fff,
		2267px 752px #fff, 1178px 200px #fff, 239px 2396px #fff, 698px 537px #fff,
		1641px 1574px #fff, 1458px 829px #fff, 1247px 808px #fff, 1520px 2592px #fff,
		738px 2430px #fff, 175px 2026px #fff, 1772px 153px #fff, 792px 2425px #fff,
		2325px 1346px #fff, 1636px 392px #fff, 70px 1205px #fff, 251px 60px #fff,
		333px 1553px #fff, 2223px 302px #fff, 1091px 1442px #fff, 393px 2502px #fff,
		2172px 1500px #fff, 2544px 771px #fff, 2400px 4px #fff, 1030px 639px #fff,
		372px 66px #fff, 311px 821px #fff, 2257px 1582px #fff, 311px 2257px #fff,
		1186px 22px #fff, 1871px 828px #fff, 1603px 1207px #fff, 2200px 2294px #fff,
		2182px 419px #fff, 1001px 2594px #fff, 2048px 468px #fff, 1189px 2280px #fff,
		1546px 23px #fff, 162px 376px #fff, 2405px 258px #fff, 255px 900px #fff,
		859px 462px #fff, 1803px 931px #fff, 1456px 1333px #fff, 844px 1037px #fff,
		1629px 433px #fff, 2369px 1616px #fff, 1734px 2094px #fff, 490px 1002px #fff,
		2429px 267px #fff, 788px 1688px #fff, 1640px 1380px #fff, 535px 2016px #fff,
		617px 2553px #fff, 1312px 1867px #fff, 2029px 1559px #fff,
		1146px 2120px #fff, 1384px 1968px #fff, 441px 2332px #fff, 485px 2584px #fff,
		2371px 312px #fff, 1585px 926px #fff, 142px 1441px #fff, 82px 517px #fff,
		1734px 894px #fff, 1901px 4px #fff, 245px 1551px #fff, 61px 1902px #fff,
		1653px 2380px #fff, 739px 1943px #fff, 2060px 1871px #fff, 984px 2183px #fff,
		1754px 1451px #fff, 2145px 2342px #fff, 1105px 241px #fff, 693px 1690px #fff,
		364px 1661px #fff, 659px 2145px #fff, 813px 2494px #fff, 1496px 700px #fff,
		791px 549px #fff, 1925px 1087px #fff, 2589px 1769px #fff, 2037px 1142px #fff,
		939px 1439px #fff, 2301px 2082px #fff, 2556px 2395px #fff,
		1780px 1161px #fff, 1803px 573px #fff, 322px 874px #fff, 1423px 2534px #fff,
		2221px 1536px #fff, 1379px 2499px #fff, 1184px 2578px #fff,
		496px 1860px #fff, 667px 2024px #fff, 291px 2382px #fff, 1806px 879px #fff,
		2214px 1189px #fff, 1694px 2469px #fff, 1462px 588px #fff, 101px 439px #fff,
		1477px 2354px #fff, 1662px 459px #fff, 607px 723px #fff, 2446px 1651px #fff,
		1518px 703px #fff, 2517px 866px #fff, 1694px 2015px #fff, 950px 2296px #fff,
		591px 24px #fff, 813px 2242px #fff, 1007px 2220px #fff, 1211px 2169px #fff,
		2126px 2540px #fff, 508px 1351px #fff, 627px 2054px #fff, 787px 2423px #fff,
		29px 821px #fff, 2001px 108px #fff, 1921px 325px #fff, 1101px 1733px #fff,
		1591px 2576px #fff, 1601px 2271px #fff, 1281px 2314px #fff,
		1169px 1963px #fff, 1862px 2374px #fff, 410px 1901px #fff,
		2051px 1286px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1132px 465px #fff, 1190px 1572px #fff, 1006px 1006px #fff,
		135px 927px #fff, 637px 1002px #fff, 2346px 650px #fff, 1856px 827px #fff,
		1607px 1509px #fff, 1984px 428px #fff, 1420px 2204px #fff, 820px 2002px #fff,
		19px 1182px #fff, 2189px 254px #fff, 637px 470px #fff, 644px 2303px #fff,
		431px 613px #fff, 2173px 734px #fff, 602px 2133px #fff, 853px 1915px #fff,
		2141px 1350px #fff, 359px 992px #fff, 2132px 618px #fff, 1998px 1455px #fff,
		194px 1115px #fff, 917px 278px #fff, 860px 760px #fff, 821px 1305px #fff,
		1184px 32px #fff, 2055px 1096px #fff, 1516px 481px #fff, 2595px 198px #fff,
		740px 1647px #fff, 1256px 565px #fff, 1999px 192px #fff, 960px 489px #fff,
		765px 847px #fff, 1656px 2516px #fff, 517px 1397px #fff, 2495px 976px #fff,
		2363px 1017px #fff, 704px 424px #fff, 508px 1886px #fff, 1839px 769px #fff,
		22px 922px #fff, 2218px 600px #fff, 1583px 607px #fff, 838px 2322px #fff,
		1956px 230px #fff, 211px 99px #fff, 1361px 2536px #fff, 2127px 1976px #fff,
		1825px 1568px #fff, 74px 2127px #fff, 2542px 2505px #fff, 2227px 2565px #fff,
		784px 2481px #fff, 1677px 899px #fff, 1897px 5px #fff, 2508px 221px #fff,
		2245px 620px #fff, 2264px 737px #fff, 1790px 286px #fff, 1788px 707px #fff,
		1280px 332px #fff, 387px 1596px #fff, 1987px 2531px #fff, 1347px 272px #fff,
		634px 1270px #fff, 430px 2367px #fff, 1826px 1514px #fff, 422px 2120px #fff,
		362px 508px #fff, 1224px 417px #fff, 87px 152px #fff, 234px 161px #fff,
		763px 1806px #fff, 1076px 375px #fff, 1213px 872px #fff, 1657px 2113px #fff,
		748px 1846px #fff, 2115px 2164px #fff, 1720px 1317px #fff, 668px 768px #fff,
		1862px 1627px #fff, 191px 812px #fff, 187px 872px #fff, 57px 1986px #fff,
		529px 985px #fff, 1437px 508px #fff, 643px 1648px #fff, 471px 1763px #fff,
		2579px 207px #fff, 1289px 1312px #fff, 115px 145px #fff, 2114px 577px #fff,
		2362px 1381px #fff, 2474px 710px #fff, 1415px 651px #fff, 2506px 871px #fff,
		2298px 1980px #fff, 2233px 2536px #fff, 1326px 455px #fff, 16px 521px #fff,
		834px 2456px #fff, 1023px 1501px #fff, 1481px 2272px #fff, 1876px 967px #fff,
		50px 703px #fff, 2228px 539px #fff, 942px 1619px #fff, 1358px 548px #fff,
		1020px 366px #fff, 2486px 1077px #fff, 1622px 2522px #fff, 2227px 777px #fff,
		874px 264px #fff, 2107px 639px #fff, 2085px 779px #fff, 210px 2239px #fff,
		911px 1021px #fff, 2265px 891px #fff, 2342px 1209px #fff, 2227px 709px #fff,
		486px 766px #fff, 971px 413px #fff, 1281px 682px #fff, 587px 2002px #fff,
		2377px 316px #fff, 1894px 1938px #fff, 209px 1950px #fff, 204px 761px #fff,
		335px 28px #fff, 1072px 859px #fff, 1292px 1385px #fff, 726px 1177px #fff,
		793px 48px #fff, 2277px 1659px #fff, 1749px 2337px #fff, 1658px 1336px #fff,
		592px 1862px #fff, 2375px 1751px #fff, 2263px 1374px #fff, 1613px 295px #fff,
		2379px 255px #fff, 2102px 1417px #fff, 2542px 1207px #fff,
		1513px 1210px #fff, 110px 783px #fff, 1499px 1505px #fff, 1928px 74px #fff,
		739px 2463px #fff, 907px 2438px #fff, 1392px 949px #fff, 595px 907px #fff,
		117px 126px #fff, 1160px 133px #fff, 1431px 1039px #fff, 1097px 522px #fff,
		1956px 1046px #fff, 1168px 1591px #fff, 861px 163px #fff, 1729px 412px #fff,
		229px 126px #fff, 164px 2205px #fff, 1922px 2543px #fff, 2025px 2131px #fff,
		2477px 1574px #fff, 525px 147px #fff, 173px 711px #fff, 544px 475px #fff,
		1609px 212px #fff, 1265px 613px #fff, 378px 1428px #fff, 193px 1999px #fff,
		981px 2307px #fff, 641px 1650px #fff, 310px 1991px #fff, 1253px 536px #fff,
		1087px 1175px #fff, 1803px 1529px #fff, 978px 513px #fff, 426px 1727px #fff,
		1568px 2246px #fff, 548px 777px #fff, 2460px 2361px #fff, 160px 1916px #fff,
		976px 1690px #fff, 2587px 1234px #fff, 1599px 1888px #fff, 879px 2547px #fff,
		2207px 2600px #fff, 979px 1741px #fff, 1227px 302px #fff, 1635px 2072px #fff,
		1065px 2101px #fff, 2476px 965px #fff, 358px 2139px #fff, 2554px 213px #fff,
		2317px 1163px #fff, 1828px 351px #fff;
	animation: animStar 175s linear infinite;
}

#stars2:after {
	content: ' ';
	position: absolute;
	top: 100vh;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1132px 465px #fff, 1190px 1572px #fff, 1006px 1006px #fff,
		135px 927px #fff, 637px 1002px #fff, 2346px 650px #fff, 1856px 827px #fff,
		1607px 1509px #fff, 1984px 428px #fff, 1420px 2204px #fff, 820px 2002px #fff,
		19px 1182px #fff, 2189px 254px #fff, 637px 470px #fff, 644px 2303px #fff,
		431px 613px #fff, 2173px 734px #fff, 602px 2133px #fff, 853px 1915px #fff,
		2141px 1350px #fff, 359px 992px #fff, 2132px 618px #fff, 1998px 1455px #fff,
		194px 1115px #fff, 917px 278px #fff, 860px 760px #fff, 821px 1305px #fff,
		1184px 32px #fff, 2055px 1096px #fff, 1516px 481px #fff, 2595px 198px #fff,
		740px 1647px #fff, 1256px 565px #fff, 1999px 192px #fff, 960px 489px #fff,
		765px 847px #fff, 1656px 2516px #fff, 517px 1397px #fff, 2495px 976px #fff,
		2363px 1017px #fff, 704px 424px #fff, 508px 1886px #fff, 1839px 769px #fff,
		22px 922px #fff, 2218px 600px #fff, 1583px 607px #fff, 838px 2322px #fff,
		1956px 230px #fff, 211px 99px #fff, 1361px 2536px #fff, 2127px 1976px #fff,
		1825px 1568px #fff, 74px 2127px #fff, 2542px 2505px #fff, 2227px 2565px #fff,
		784px 2481px #fff, 1677px 899px #fff, 1897px 5px #fff, 2508px 221px #fff,
		2245px 620px #fff, 2264px 737px #fff, 1790px 286px #fff, 1788px 707px #fff,
		1280px 332px #fff, 387px 1596px #fff, 1987px 2531px #fff, 1347px 272px #fff,
		634px 1270px #fff, 430px 2367px #fff, 1826px 1514px #fff, 422px 2120px #fff,
		362px 508px #fff, 1224px 417px #fff, 87px 152px #fff, 234px 161px #fff,
		763px 1806px #fff, 1076px 375px #fff, 1213px 872px #fff, 1657px 2113px #fff,
		748px 1846px #fff, 2115px 2164px #fff, 1720px 1317px #fff, 668px 768px #fff,
		1862px 1627px #fff, 191px 812px #fff, 187px 872px #fff, 57px 1986px #fff,
		529px 985px #fff, 1437px 508px #fff, 643px 1648px #fff, 471px 1763px #fff,
		2579px 207px #fff, 1289px 1312px #fff, 115px 145px #fff, 2114px 577px #fff,
		2362px 1381px #fff, 2474px 710px #fff, 1415px 651px #fff, 2506px 871px #fff,
		2298px 1980px #fff, 2233px 2536px #fff, 1326px 455px #fff, 16px 521px #fff,
		834px 2456px #fff, 1023px 1501px #fff, 1481px 2272px #fff, 1876px 967px #fff,
		50px 703px #fff, 2228px 539px #fff, 942px 1619px #fff, 1358px 548px #fff,
		1020px 366px #fff, 2486px 1077px #fff, 1622px 2522px #fff, 2227px 777px #fff,
		874px 264px #fff, 2107px 639px #fff, 2085px 779px #fff, 210px 2239px #fff,
		911px 1021px #fff, 2265px 891px #fff, 2342px 1209px #fff, 2227px 709px #fff,
		486px 766px #fff, 971px 413px #fff, 1281px 682px #fff, 587px 2002px #fff,
		2377px 316px #fff, 1894px 1938px #fff, 209px 1950px #fff, 204px 761px #fff,
		335px 28px #fff, 1072px 859px #fff, 1292px 1385px #fff, 726px 1177px #fff,
		793px 48px #fff, 2277px 1659px #fff, 1749px 2337px #fff, 1658px 1336px #fff,
		592px 1862px #fff, 2375px 1751px #fff, 2263px 1374px #fff, 1613px 295px #fff,
		2379px 255px #fff, 2102px 1417px #fff, 2542px 1207px #fff,
		1513px 1210px #fff, 110px 783px #fff, 1499px 1505px #fff, 1928px 74px #fff,
		739px 2463px #fff, 907px 2438px #fff, 1392px 949px #fff, 595px 907px #fff,
		117px 126px #fff, 1160px 133px #fff, 1431px 1039px #fff, 1097px 522px #fff,
		1956px 1046px #fff, 1168px 1591px #fff, 861px 163px #fff, 1729px 412px #fff,
		229px 126px #fff, 164px 2205px #fff, 1922px 2543px #fff, 2025px 2131px #fff,
		2477px 1574px #fff, 525px 147px #fff, 173px 711px #fff, 544px 475px #fff,
		1609px 212px #fff, 1265px 613px #fff, 378px 1428px #fff, 193px 1999px #fff,
		981px 2307px #fff, 641px 1650px #fff, 310px 1991px #fff, 1253px 536px #fff,
		1087px 1175px #fff, 1803px 1529px #fff, 978px 513px #fff, 426px 1727px #fff,
		1568px 2246px #fff, 548px 777px #fff, 2460px 2361px #fff, 160px 1916px #fff,
		976px 1690px #fff, 2587px 1234px #fff, 1599px 1888px #fff, 879px 2547px #fff,
		2207px 2600px #fff, 979px 1741px #fff, 1227px 302px #fff, 1635px 2072px #fff,
		1065px 2101px #fff, 2476px 965px #fff, 358px 2139px #fff, 2554px 213px #fff,
		2317px 1163px #fff, 1828px 351px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 4px 2163px #fff, 1154px 1781px #fff, 1903px 198px #fff,
		1044px 1205px #fff, 223px 418px #fff, 99px 1106px #fff, 226px 593px #fff,
		740px 202px #fff, 2279px 1870px #fff, 524px 1649px #fff, 274px 1770px #fff,
		1554px 1586px #fff, 1968px 2344px #fff, 1755px 886px #fff, 2291px 51px #fff,
		1923px 382px #fff, 519px 2512px #fff, 132px 1426px #fff, 1751px 1753px #fff,
		1421px 806px #fff, 2211px 372px #fff, 807px 653px #fff, 731px 2114px #fff,
		683px 341px #fff, 2335px 1159px #fff, 1576px 2500px #fff, 616px 1568px #fff,
		2517px 2222px #fff, 970px 1089px #fff, 733px 986px #fff, 586px 2402px #fff,
		2397px 1876px #fff, 1392px 1262px #fff, 2461px 1606px #fff,
		1338px 679px #fff, 1257px 2413px #fff, 1290px 2056px #fff, 773px 1372px #fff,
		2398px 1416px #fff, 296px 514px #fff, 861px 1527px #fff, 439px 1531px #fff,
		1356px 1368px #fff, 2407px 2321px #fff, 1768px 674px #fff, 1152px 760px #fff,
		1936px 1246px #fff, 2581px 1676px #fff, 384px 282px #fff, 1691px 1781px #fff,
		2095px 1327px #fff, 922px 258px #fff, 1175px 1677px #fff, 1604px 347px #fff,
		651px 789px #fff, 2468px 2445px #fff, 2327px 394px #fff, 2122px 1743px #fff,
		714px 2154px #fff, 544px 809px #fff, 5px 1077px #fff, 1690px 1187px #fff,
		2140px 1968px #fff, 1009px 273px #fff, 2318px 1330px #fff, 442px 117px #fff,
		1850px 2271px #fff, 2040px 989px #fff, 2369px 2477px #fff, 426px 120px #fff,
		473px 1089px #fff, 1833px 856px #fff, 2252px 1560px #fff, 2089px 430px #fff,
		1162px 913px #fff, 1164px 2440px #fff, 503px 522px #fff, 1944px 823px #fff,
		399px 1136px #fff, 1673px 1396px #fff, 2483px 107px #fff, 1317px 351px #fff,
		470px 1842px #fff, 1123px 802px #fff, 2178px 2428px #fff, 607px 1429px #fff,
		653px 2567px #fff, 1593px 848px #fff, 2177px 1940px #fff, 1362px 300px #fff,
		1760px 406px #fff, 1318px 1798px #fff, 2395px 2289px #fff, 939px 1686px #fff,
		2457px 722px #fff, 635px 1811px #fff, 2273px 1854px #fff, 670px 1416px #fff,
		2099px 1550px #fff, 612px 2378px #fff;
	animation: animStar 225s linear infinite;
}

#stars3:after {
	content: ' ';
	position: absolute;
	top: 100vh;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 4px 2163px #fff, 1154px 1781px #fff, 1903px 198px #fff,
		1044px 1205px #fff, 223px 418px #fff, 99px 1106px #fff, 226px 593px #fff,
		740px 202px #fff, 2279px 1870px #fff, 524px 1649px #fff, 274px 1770px #fff,
		1554px 1586px #fff, 1968px 2344px #fff, 1755px 886px #fff, 2291px 51px #fff,
		1923px 382px #fff, 519px 2512px #fff, 132px 1426px #fff, 1751px 1753px #fff,
		1421px 806px #fff, 2211px 372px #fff, 807px 653px #fff, 731px 2114px #fff,
		683px 341px #fff, 2335px 1159px #fff, 1576px 2500px #fff, 616px 1568px #fff,
		2517px 2222px #fff, 970px 1089px #fff, 733px 986px #fff, 586px 2402px #fff,
		2397px 1876px #fff, 1392px 1262px #fff, 2461px 1606px #fff,
		1338px 679px #fff, 1257px 2413px #fff, 1290px 2056px #fff, 773px 1372px #fff,
		2398px 1416px #fff, 296px 514px #fff, 861px 1527px #fff, 439px 1531px #fff,
		1356px 1368px #fff, 2407px 2321px #fff, 1768px 674px #fff, 1152px 760px #fff,
		1936px 1246px #fff, 2581px 1676px #fff, 384px 282px #fff, 1691px 1781px #fff,
		2095px 1327px #fff, 922px 258px #fff, 1175px 1677px #fff, 1604px 347px #fff,
		651px 789px #fff, 2468px 2445px #fff, 2327px 394px #fff, 2122px 1743px #fff,
		714px 2154px #fff, 544px 809px #fff, 5px 1077px #fff, 1690px 1187px #fff,
		2140px 1968px #fff, 1009px 273px #fff, 2318px 1330px #fff, 442px 117px #fff,
		1850px 2271px #fff, 2040px 989px #fff, 2369px 2477px #fff, 426px 120px #fff,
		473px 1089px #fff, 1833px 856px #fff, 2252px 1560px #fff, 2089px 430px #fff,
		1162px 913px #fff, 1164px 2440px #fff, 503px 522px #fff, 1944px 823px #fff,
		399px 1136px #fff, 1673px 1396px #fff, 2483px 107px #fff, 1317px 351px #fff,
		470px 1842px #fff, 1123px 802px #fff, 2178px 2428px #fff, 607px 1429px #fff,
		653px 2567px #fff, 1593px 848px #fff, 2177px 1940px #fff, 1362px 300px #fff,
		1760px 406px #fff, 1318px 1798px #fff, 2395px 2289px #fff, 939px 1686px #fff,
		2457px 722px #fff, 635px 1811px #fff, 2273px 1854px #fff, 670px 1416px #fff,
		2099px 1550px #fff, 612px 2378px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

/* alert */
.alert {
	max-width: 180px;
}

/* media queries */
@media screen and (max-width: 600px) {
	.container {
		max-width: 90%;
  }
  
  .item {
    min-width:240px;
    max-width: 100%;
  }

}

@media screen and (min-width: 1400px) {
	.container-learn {
		height:100vh;
	}

}

